<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%= subtitle %></h2>
    <p>Bienvenido a <%= title %></p>
    <table border="1" width="600">
    	<tr>
    		<th>Tipo Reclamo</th>
    		<th>Observación</th>
    		<th>Fecha Reclamo</th>
    	</tr>
    	<tr>
    		<td><%= reclamo.tipoReclamo %></td>
    		<td><%= reclamo.observacion %></td>
    		<td><%= reclamo.fechaReclamo %></td>
    	</tr>
    </table>
  </body>
</html>
