<h3>Bienvenido a  <%= title %></h3>
<body>
<div class="datagrid"><table border="1" width="70%">
<thead><tr>
       <th>id</th>
       <th>Tipo Usuario</th>
       <th>Observacion</th>
       <th>Fecha</th>
    </thead> 

<% var  j;for(j=0; j< usuarios.length; j++) { %>
<% if(j%2==0) {%>
<tr>
<% } else {%>
<tr class="alt">
<% } %>
       <td><%= j %></td>
       <td><%= usuarios[j].tipoUsuario %></td>
       <td><%= usuarios[j].observacion %></td>
       <td><%= usuarios[j].fecha %></td>
    </tr>   
<% } %>
<div class="datagrid"><table border="1" width="70%">
<thead><tr>
       <th>id</th>
       <th>Tipo Usuario</th>
       <th>Observacion</th>
       <th>Fecha</th>
    </thead> 

<% var  i;for(i=0; i< reclamos.length; i++) { %>
<% if(i%2==0) {%>
<tr>
<% } else {%>
<tr class="alt">
<% } %>
       <td><%= i %></td>
       <td><%= reclamos[i].tipoUsuario %></td>
       <td><%= reclamos[i].observacion %></td>
       <td><%= reclamos[i].fecha %></td>
    </tr>   
<% } %>

</body>
</table>
