<h3>Bienvenido a  <%= title %></h3>
<div class="datagrid"><table border="1" width="70%">
<thead><tr>
       <th>id</th>
       <th>Tipo Reclamo</th>
       <th>Observacion</th>
       <th>Fecha</th>
    </thead> 

<% var  i;for(i=0; i< reclamos.length; i++) { %>
<% if(i%2==0) {%>
<tr>
<% } else {%>
<tr class="alt">
<% } %>
       <td><%= i %></td>
       <td><%= reclamos[i].tipoReclamo %></td>
       <td><%= reclamos[i].observacion %></td>
       <td><%= reclamos[i].fecha %></td>
    </tr>   
<% } %>
</tbody>
</table>
